<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Cowboy bebop | Home</title>
  <meta name="description" content="A showcase of Simply Docs by MarketingPipeline built using Simple.CSS">
</head>
<ul>
<li><a href="#abstract"><b></a></b><ul>
<li><a href="#introduction">API Route: Hello World</a></li>
<li><a href="#literature-review">API Route: Foo Bar</a></li>
<li><a href="#research-hypothesis">I'm a hyperlink</a></li>
<li><a href="#demostration-process">I'm a hyperlink</a></li>
<li><a href="#research-conclusion">API Route: Hello World</a></li>
<li><a href="#summary&prospect">API Route: Hello World</a></li>
</ul>
</ul>
<article>
      <h1 id="title">API Routes</h1>
</article>
<form action="demo-form.php">
First name: <input type="text" name="FirstName" value="Mickey"><br>
Last name: <input type="text" name="LastName" value="Mouse"><br>
<input type="submit" value="提交">
</form>
